<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меме Генератор</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
    <div class="container">
        <h1>Добре дошли в Меме Генератора!</h1>
        <div class="buttons">
            <a href="login.php" class="btn">Влизане</a>
            <a href="register.php" class="btn">Регистрация</a>
        </div>
    </div>
</body>
</html>
