<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добре дошли</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <h1>Здравейте, <?php echo htmlspecialchars($username); ?>!</h1>
        <p>Добре дошли в Меме Генератора!</p>
        <a href="meme_generator.php" class="btn">Направи готино меме</a>
        <a href="favorites.php" class="btn">Любими мемета</a> <!-- Новият бутон -->
        <a href="gallery.php" class="btn">Галерия</a>
        <a href="logout.php" class="btn">Изход</a>
    </div>
</body>
</html>
