<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добре дошли</title>
    <link rel="stylesheet" href="./css/welcome.css">
</head>
<body>
    <nav>
        <a href="meme_generator.php">Генерирай готино меме/покана</a>
        <a href="favorites.php">Любими мемета</a>
        <a href="gallery.php">Галерия</a>
        <a href="logout.php">Изход</a>
    </nav>

    <div class="container">
        <h1>Здравейте, <?php echo htmlspecialchars($username); ?>!</h1>
        <p id="welcome">Добре дошли в генератора за покани!</p>
        <h2>Добре дошли в света на креативността и забавлението!</h2>
        <br>
        <p>В нашата платформа можете да създавате неповторими, оригинални и забавни мемета и покани, които ще се откроят и ще привлекат вниманието с лекота.</p>
          <br>  
        <h3>Създайте свои шедьоври с лекота</h3>
        <p class="parag">С нашия интуитивен генератор на мемета и покани можете само с няколко клика да комбинирате:</p>
        <ul class="list">
            <li>Вашето чувство за хумор.</li>
            <li>Личния ви стил.</li>
            <li>Визуални шаблони, които грабват окото.</li>
        </ul>
        
        <p>Независимо дали подготвяте покана за рожден ден, събитие, фирмено парти или искате да създадете свежо меме, тук ще намерите всичко необходимо, за да превърнете идеите си в реалност.</p>
        
        <h3>Какво ви предлагаме?</h3>
        <ul class="list">
            <li>Избор от разнообразни шаблони и възможност за качване на собствено изображение.</li>
            <li>Добавяне на персонализиран текст с контрол върху шрифта и позицията.</li>
            <li>Визуализация в реално време.</li>
            <li>Генериране и сваляне с едно кликване.</li>
            <li>Възможност за споделяне с приятели, колеги или последователи в социалните мрежи.</li>
        </ul>
        <br> <br>
        <h3>Изразете себе си!</h3>
        <p>Създавайте, експериментирайте и се забавлявайте – защото тук <strong>въображението няма граници</strong>! Разсмейте света и оставете следа с вашата креативност. 🌟</p>
    </div>
</body>
</html>
